* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* MAIN VARIABLES */

:root {
  font-family: Arial, Helvetica, sans-serif;

  /* COLORS */
  --main-color: #0094a7;
  --solid-color: #F2F2F2;
  --solid-light-color: #94a3b8;
  --netural-color: #0f172a;

  /* SPACING, RADIUS, DURATION and Others */
  --main-padding: 20px;
  --main-radius: 12px;
  --main-duration: .3s;

}

:root[theme="dark"] {
  --main-color: #0094a7;
  --solid-color: #f2f2f2;
  --netural-color: #333;
}

/* CONTAINER */

.container {
  padding-inline: 15px;
  margin: 0 auto;
}

@media (max-width: 576px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .container {
    width: 540px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 720px;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 960px;
  }
}

@media (max-width: 1400px) {
  .container {
    width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}


/* RESETING */

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

img  {
  max-width: 100%;
}